All the prefixes:
%{ for key, value in prefixes ~}
    Prefix: ${key} , value: ${value}

%{ endfor }

network rules:
%{ for rule in network-rules ~}
    rule:
    %{ for k, v in "${rule}"}
        ${k}:  "${join(",", v)}"
    %{ endfor }
%{ endfor }

All hub routs:
%{ for route in hub-routes ~}
    route:
    %{ for k, v in "${route}"}
        ${k}: ${v}
    %{ endfor }
%{ endfor }

All spoke routs:
%{ for route in spoke-routes ~}
    route:
    %{ for k, v in "${route}"}
        ${k}: ${v}
    %{ endfor }
%{ endfor }

